
body, html {
  overflow: hidden;
  background: no-repeat center center fixed;
 
}

  #bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  @media screen and (max-width: 1024px) {
    #bg {
      left: 50%;
      margin-left: -512px;
    }
  }

.App {
  position: absolute;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  min-width : 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


#pageTitle {
  font-size: 80px;
  text-align: center;
  font-size: 3rem;
  margin-top: 0;
  padding-top: 2rem;
  text-shadow:
      0 0 7px rgba(255, 255, 255, 0.4),
      0 0 10px rgba(255, 255, 255, 0.803),
      0 0 21px rgba(255, 255, 255, 0.816),
      0 0 42px #0fa,
      0 0 151px #0fa;
}




#counterInterface {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  padding-top: 14rem;
  justify-self: center;

}

#interfaceTitle {
  font-size: 1.4rem;   
  margin: 0;
}

#cunt {
  padding-top: 1.5rem;
  margin: 0;
  font-size: 3rem;
  text-shadow: rgb(18, 232, 160);
}

button {
  width: 5rem;
  height: 30px;
  font-size: 1.2rem;
  color: white;
  background-color: transparent;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Teko', sans-serif;
}

#buttons {
display: flex;
justify-content: center;
gap: 25px;
}

